<div class="title-container">
  <h1>Your Favorites Recipes</h1>
</div>

<div class="favorites">
  <% @favorites.each do |favorite| %>
    <div class="favorite">
      <div class="thumbnail">
        <div class="caption">
          <div><%= favorite.name %> </div>
          <div><%= favorite.description %> </div>
        </div>
      </div>
    </div>
  <% end %>
</div>